.message {
  color: red
}

.header {
  color: rgb(0, 0, 0)
}

/* the input fields */
.ui.form input[type=text], .ui.form input[type=password], .ui.form input[type=url] {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0;
  outline: 0;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255,255,255,0);
  line-height: 1.21428571em;
  padding: .67857143em 1em;
  font-size: 1em;
  background: #fff;
  border: 1px solid #4ebdd1;
  color: rgba(0,0,0,.87);
  border-radius: .28571429rem;
  box-shadow: 0 0 0 0 transparent inset;
  -webkit-transition: color .1s ease,border-color .1s ease;
  transition: color .1s ease,border-color .1s ease;
}

