/* .App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} */

<<<<<<< HEAD
.Home-intro {
  font-size: 2em;
  font-family: 'Sonsie One', cursive;
  background-color: rgb(89, 161, 206);
  background-image: url(http://eaglemount.org/wp-content/uploads/2016/10/mono-ski-camp-eagle-mount-650x433.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}
=======
.footer {
  background-color: #1B7FBD;
  color: white;
  font-family: cursive;
  font-size: 18px;
  margin-top: 70px;
  position:relative;  
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

>>>>>>> 319987a1c9697970321ef3c7c18cd130d9d75a45
