body, html {  
  background: 
    linear-gradient(
      rgba(255, 255, 255, 0.45), 
      rgba(255, 255, 255, 0.45)
    ),
    url(../Home/photo-1508108712903-49b7ef9b1df8.jpeg)
    no-repeat center center fixed
    ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.footer {
  background-color: #1B7FBD;
  color: white;
  font-family: cursive;
  font-size: 18px;
  margin-top: 70px;
  position:relative;  
}

.Home-intro {
  font-size: 2em;
  font-family: 'Sonsie One', cursive;
  background-color: rgb(89, 161, 206);
  background-image: url(../Home/photo-1508108712903-49b7ef9b1df8.jpeg);
  background-repeat: no-repeat;
  background-size: auto;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

