body, html {  
  background: 
    linear-gradient(
      rgba(255, 255, 255, 0.45), 
      rgba(255, 255, 255, 0.45)
    ),
    url(../Home/asoggetti-413830.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #1B7FBD;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.footer {
  background-color: #1B7FBD;
  color: white;
  font-family: cursive;
  font-size: 18px;
  margin-top: 70px;
  position:relative;  
}

.Home-intro {
  font-size: 2em;
  font-family: 'Sonsie One', cursive;
  background-color: #1B7FBD;
  background-image: url(../Home/pexels-photo-298007.jpeg);
  background-repeat: no-repeat;
  background-size: auto;
}
.Lost-Island {
  text-align: center;
  color: purple;
  font-family: cursive;
}
.Lost-Island2 {
  text-align: center;
  color: rgb(19, 31, 206);
  font-family: cursive;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  text-align: center;
  color: rgb(19, 31, 206);
  font-family: cursive;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

