.Home {
  text-align: center;
}

.Home-header {
  background-color: #1B7FBD;
  height: 150px;
  padding: 20px;
  color: white;
}

.Home-title {
  font-size: 3em;
  font-family: 'Crimson Text', serif;
  text-align: center;
  color:  rgb(3, 84, 150);
  text-shadow: -4px 4px 3px #8093b3;
  font-weight: 10em;
}

.background{
  height:75vh;
  font-size: 1.8em;
  font-family: 'Sonsie One', cursive;
  background-color: rgb(89, 161, 206);
  background-image: url(./pexels-photo-298007.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* #Content{
  background-color: rgb(133, 8, 150);
} */

.textContainer {
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: rgba(131, 189, 197, 0.2);
  
}

.ui.icon.header {
  /* display: inline-block;
  text-align: center; */
  position: relative;
  margin: .5rem 0 1rem;
}

i.icon.snowflake:before {
  content: "\f2dc";
  margin-left: 300px;
}

element.style {
  font-size: 4em;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0px;
}

element.style {
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 2em;
}