.Home {
  text-align: center;
}

.Home-header {
  background-color: rgb(32, 100, 145);
  height: 150px;
  padding: 20px;
  color: white;
}

.Home-title {
  font-size: 3.5em;
  font-family: 'Frijole', cursive;
  text-align: center;
  color: rgb(74, 153, 226);
}

.background{
  height:75vh;
  font-size: 1.8em;
  font-family: 'Sonsie One', cursive;
  background-color: rgb(89, 161, 206);
  background-image: url(./pexels-photo-298007.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* #Content{
  background-color: rgb(133, 8, 150);
} */