.footer {
  background-color: rgb(44, 42, 42);
  color: white;
  font-family: 'Helvetica Neue';
  font-size: 18px;
  margin-top: 70px;
  position:relative;  
}

.ui.inverted.divided.grid:not([class*="vertically divided"])>.column:not(.row):first-child, .ui.inverted.divided.grid:not([class*="vertically divided"])>.row>.column:first-child {
  box-shadow: none;
  padding-top: 30px;
  padding-bottom: 30px;
}